<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>
    {{>navbar}}


    <!-- main header -->

    <div class="container-fluid main_header">
        <div class="row">


            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/about.png" alt="Devansh" class="img-fluid" title="Devansh">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to my weather Predictor application.</p>
                        <h1>I am a <span class="text_clr">Mern Stack Developer</span> at thinksys.</h1>
                        <a href="https://www.linkedin.com/in/devansh-agarwal-01534a238" target="_dev"><button>About
                                Me</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer code -->

    {{>footer}}

</body>

</html>